<html>
  <head>
    <title>Covid-19 Statistics</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Recovered',     {{ recovered }}],
          ['Deaths',  {{ deaths }}],
          ['Patients', {{ process }}]
        ]);

        var options = {
          title: 'Covid 19 Statistics in {{ country }}'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));


        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="piechart" style="width: 100%; height: 100%"></div>

  </body>
</html>
